{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">类　　别</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_leibie11"][0] %}
          {% if tmp_var == "1" %}
          笔记本维修
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie11"][0] %}
          {% if tmp_var == "2" %}
          硬盘维修
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie11"][0] %}
          {% if tmp_var == "3" %}
          数据恢复
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie11"][0] %}
          {% if tmp_var == "4" %}
          台式机维修
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie11"][0] %}
          {% if tmp_var == "5" %}
          显示器维修
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie11"][0] %}
          {% if tmp_var == "6" %}
          网络布线/维护
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie11"][0] %}
          {% if tmp_var == "7" %}
          IT外包
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie11"][0] %}
          {% if tmp_var == "8" %}
          安防监控/群发软件
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">类　　别</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_leibie12"][0] %}
          {% if tmp_var == "1" %}
          网络维护
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie12"][0] %}
          {% if tmp_var == "2" %}
          电脑维修
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie12"][0] %}
          {% if tmp_var == "3" %}
          全部
          {% end %}
         </span>
         </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
