{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">类　　别</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_leibie1"][0] %}
          {% if tmp_var == "1" %}
          经纪人
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie1"][0] %}
          {% if tmp_var == "2" %}
          个人
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie1"][0] %}
          {% if tmp_var == "3" %}
          商家
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie1"][0] %}
          {% if tmp_var == "4" %}
          全部
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">装　　修</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
         {% if post_info['extra_zhuangxiu'][0] == "1" %}
         无装修
         {% end %}
         </span>
        
         <span class="val">
         {% if post_info['extra_zhuangxiu'][0] == "2" %}
         简单装修
         {% end %}
         </span>
        
         <span class="val">
         {% if post_info['extra_zhuangxiu'][0] == "3" %}
         精装修
         {% end %}
         </span>
        </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">期刊级别</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
         {% if post_info['extra_zuoxiang'][0] == "1" %}
         SCI
         {% end %}
         </span>
        
         <span class="val">
         {% if post_info['extra_zuoxiang'][0] == "2" %}
         SCIE
         {% end %}
         </span>
        
         <span class="val">
         {% if post_info['extra_zuoxiang'][0] == "3" %}
         核心期刊
         {% end %}
         </span>
        
         <span class="val">
         {% if post_info['extra_zuoxiang'][0] == "4" %}
         普通期刊
         {% end %}
         </span>
        </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">房屋类型</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_fangwuleixing"][0] %}
          {% if tmp_var == "1" %}
          写字楼
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fangwuleixing"][0] %}
          {% if tmp_var == "2" %}
          公寓
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fangwuleixing"][0] %}
          {% if tmp_var == "3" %}
          小区
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fangwuleixing"][0] %}
          {% if tmp_var == "4" %}
          平房
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fangwuleixing"][0] %}
          {% if tmp_var == "5" %}
          别墅
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fangwuleixing"][0] %}
          {% if tmp_var == "6" %}
          地下室
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">面　　积</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "1" %}
          20㎡以下
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "2" %}
          20-40㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "3" %}
          40-60㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "4" %}
          60-90㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "5" %}
          90-120㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "6" %}
          120-200㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "7" %}
          200-500㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "8" %}
          500-1000㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "9" %}
          1000㎡以上
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">是否中介</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
         {% if post_info['extra_shifouzhongjie'][0] == "1" %}
         是
         {% end %}
         </span>
        
         <span class="val">
         {% if post_info['extra_shifouzhongjie'][0] == "2" %}
         否
         {% end %}
         </span>
        </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">房　　价</span></div>
    <div class="pure-u-3-4 iga_view_rec"><span class="val">{{ post_info['extra_fangjia'][0] }} 万</span></div>
    
    <div class="pure-u-1-4 iga_view_rec"><span class="des">出让形式</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_churangxingshi"][0] %}
          {% if tmp_var == "1" %}
          出租
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_churangxingshi"][0] %}
          {% if tmp_var == "2" %}
          出兑
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_churangxingshi"][0] %}
          {% if tmp_var == "3" %}
          出售
          {% end %}
         </span>
         </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
