{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">类　　型</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "1" %}
          自卸车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "2" %}
          厢式货车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "3" %}
          平板车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "4" %}
          半挂车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "5" %}
          挖掘机
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "6" %}
          装载机
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "7" %}
          吊车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "8" %}
          叉车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "9" %}
          水泥罐车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "10" %}
          油罐车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "11" %}
          搅拌车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "12" %}
          推土机
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "13" %}
          压路机
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0307"][0] %}
          {% if tmp_var == "14" %}
          其他
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">品　　牌</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "1" %}
          解放
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "2" %}
          欧曼
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "3" %}
          时代
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "4" %}
          金刚
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "5" %}
          豪沃
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "6" %}
          东风
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "7" %}
          悍威
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "8" %}
          斯太尔
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "9" %}
          东风
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "10" %}
          天龙
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "11" %}
          江淮
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "12" %}
          瑞沃奥
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "13" %}
          威威
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "14" %}
          铃高
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "15" %}
          新大威
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "16" %}
          赛龙
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "17" %}
          凯马
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "18" %}
          天龙
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "19" %}
          红岩
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_pinpai"][0] %}
          {% if tmp_var == "20" %}
          其他
          {% end %}
         </span>
         </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
