{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}

{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="col-sm-4"><span class="des">学科</span></div>
    <div class="col-sm-8">
    
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "1" %}
          海洋
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "2" %}
          地球物理
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "3" %}
          地质
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "4" %}
          天文
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "5" %}
          地理
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "6" %}
          大气
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "7" %}
          测绘
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "8" %}
          生态
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "9" %}
          农业
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "10" %}
          环境
          {% end %}
         </span>
         </div>
    <div class="col-sm-4"><span class="des">学位</span></div>
    <div class="col-sm-8">
    
         <span>
          {% set tmp_var = post_info["extra_degree"][0] %}
          {% if tmp_var == "1" %}
          学士
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_degree"][0] %}
          {% if tmp_var == "2" %}
          硕士
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_degree"][0] %}
          {% if tmp_var == "3" %}
          博士
          {% end %}
         </span>
         </div>
    <div class="col-sm-4"><span class="des">文件类型</span></div>
    <div class="col-sm-8">
    
         <span>
          {% set tmp_var = post_info["extra_filetype"][0] %}
          {% if tmp_var == "1" %}
          文本
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_filetype"][0] %}
          {% if tmp_var == "2" %}
          pdf
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_filetype"][0] %}
          {% if tmp_var == "3" %}
          扫描
          {% end %}
         </span>
         </div>
    <div class="col-sm-4"><span class="des">文件大小</span></div>
    <div class="col-sm-8"><span class="val">{{ post_info['extra_size'][0] }} Mb</span></div>
    
</div>

{% end %}

{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
