{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">类　　别</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_leibie23"][0] %}
          {% if tmp_var == "1" %}
          网络工程师
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie23"][0] %}
          {% if tmp_var == "2" %}
          网页设计
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie23"][0] %}
          {% if tmp_var == "3" %}
          网站策划
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie23"][0] %}
          {% if tmp_var == "4" %}
          网站推广
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie23"][0] %}
          {% if tmp_var == "5" %}
          程序员
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie23"][0] %}
          {% if tmp_var == "6" %}
          项目经理
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie23"][0] %}
          {% if tmp_var == "7" %}
          网络管理员
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie23"][0] %}
          {% if tmp_var == "8" %}
          软件工程师
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie23"][0] %}
          {% if tmp_var == "9" %}
          数据库管理员
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie23"][0] %}
          {% if tmp_var == "10" %}
          通信技术
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie23"][0] %}
          {% if tmp_var == "11" %}
          工程师
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leibie23"][0] %}
          {% if tmp_var == "12" %}
          网站编辑
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">薪　　金</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "1" %}
          面议
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "2" %}
          1k以下
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "3" %}
          1k~1.5k
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "4" %}
          1.5k~2k
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "5" %}
          2k~3k
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "6" %}
          3k~4k
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "7" %}
          4k~6k
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "8" %}
          6k~8k
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "9" %}
          8k以上
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">学　　历</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_xueli"][0] %}
          {% if tmp_var == "1" %}
          高中以下
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xueli"][0] %}
          {% if tmp_var == "2" %}
          高中
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xueli"][0] %}
          {% if tmp_var == "3" %}
          中专/技校
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xueli"][0] %}
          {% if tmp_var == "4" %}
          大专
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xueli"][0] %}
          {% if tmp_var == "5" %}
          本科
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xueli"][0] %}
          {% if tmp_var == "6" %}
          硕士
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xueli"][0] %}
          {% if tmp_var == "7" %}
          博士
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xueli"][0] %}
          {% if tmp_var == "8" %}
          MBA/EMBA
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">性　　别</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
         {% if post_info['extra_xingbie'][0] == "1" %}
         男
         {% end %}
         </span>
        
         <span class="val">
         {% if post_info['extra_xingbie'][0] == "2" %}
         女
         {% end %}
         </span>
        </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
