{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">印刷类别</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_yinshualeibie"][0] %}
          {% if tmp_var == "1" %}
          彩色印刷
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_yinshualeibie"][0] %}
          {% if tmp_var == "2" %}
          黑白印刷
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_yinshualeibie"][0] %}
          {% if tmp_var == "3" %}
          不干胶印刷
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_yinshualeibie"][0] %}
          {% if tmp_var == "4" %}
          丝网印刷
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_yinshualeibie"][0] %}
          {% if tmp_var == "5" %}
          名片印刷
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_yinshualeibie"][0] %}
          {% if tmp_var == "6" %}
          包装袋印刷
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_yinshualeibie"][0] %}
          {% if tmp_var == "7" %}
          票据印刷
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_yinshualeibie"][0] %}
          {% if tmp_var == "8" %}
          宣传册海报
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_yinshualeibie"][0] %}
          {% if tmp_var == "9" %}
          书刊印刷
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_yinshualeibie"][0] %}
          {% if tmp_var == "10" %}
          其他
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">类　　别</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_zhizuoxingshi"][0] %}
          {% if tmp_var == "1" %}
          印刷
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zhizuoxingshi"][0] %}
          {% if tmp_var == "2" %}
          包装
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zhizuoxingshi"][0] %}
          {% if tmp_var == "3" %}
          全部
          {% end %}
         </span>
         </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
