{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">面　　积</span></div>
    <div class="pure-u-3-4 iga_view_rec"><span class="val">{{ post_info['extra_mianji1'][0] }} 平方米</span></div>
    
    <div class="pure-u-1-4 iga_view_rec"><span class="des">房屋类型</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_fangwuleixing"][0] %}
          {% if tmp_var == "1" %}
          写字楼
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fangwuleixing"][0] %}
          {% if tmp_var == "2" %}
          公寓
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fangwuleixing"][0] %}
          {% if tmp_var == "3" %}
          小区
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fangwuleixing"][0] %}
          {% if tmp_var == "4" %}
          平房
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fangwuleixing"][0] %}
          {% if tmp_var == "5" %}
          别墅
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fangwuleixing"][0] %}
          {% if tmp_var == "6" %}
          地下室
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">期刊级别</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
         {% if post_info['extra_zuoxiang'][0] == "1" %}
         SCI
         {% end %}
         </span>
        
         <span class="val">
         {% if post_info['extra_zuoxiang'][0] == "2" %}
         SCIE
         {% end %}
         </span>
        
         <span class="val">
         {% if post_info['extra_zuoxiang'][0] == "3" %}
         核心期刊
         {% end %}
         </span>
        
         <span class="val">
         {% if post_info['extra_zuoxiang'][0] == "4" %}
         普通期刊
         {% end %}
         </span>
        </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">居　　室</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_jushi"][0] %}
          {% if tmp_var == "1" %}
          独居室
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_jushi"][0] %}
          {% if tmp_var == "2" %}
          两室一厅
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_jushi"][0] %}
          {% if tmp_var == "3" %}
          三室一厅
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_jushi"][0] %}
          {% if tmp_var == "4" %}
          三室二厅
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_jushi"][0] %}
          {% if tmp_var == "5" %}
          四室二厅
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_jushi"][0] %}
          {% if tmp_var == "6" %}
          别墅
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">屋内设施</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
         {% if "1" in post_info["extra_wuneisheshi"] %}
         水电
         {% end %}
         </span>
         
         <span class="val">
         {% if "2" in post_info["extra_wuneisheshi"] %}
         宽带
         {% end %}
         </span>
         
         <span class="val">
         {% if "3" in post_info["extra_wuneisheshi"] %}
         管道气
         {% end %}
         </span>
         
         <span class="val">
         {% if "4" in post_info["extra_wuneisheshi"] %}
         有线电视
         {% end %}
         </span>
         
         <span class="val">
         {% if "5" in post_info["extra_wuneisheshi"] %}
         电梯
         {% end %}
         </span>
         
         <span class="val">
         {% if "6" in post_info["extra_wuneisheshi"] %}
         电话
         {% end %}
         </span>
         
         <span class="val">
         {% if "7" in post_info["extra_wuneisheshi"] %}
         冰箱
         {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">特　　色</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_tese"][0] %}
          {% if tmp_var == "1" %}
          精装修
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_tese"][0] %}
          {% if tmp_var == "2" %}
          家电齐全
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_tese"][0] %}
          {% if tmp_var == "3" %}
          押一付一
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_tese"][0] %}
          {% if tmp_var == "4" %}
          单身公寓
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_tese"][0] %}
          {% if tmp_var == "5" %}
          邻近地铁
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_tese"][0] %}
          {% if tmp_var == "6" %}
          市政供暖
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">行　　业</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_hangye"][0] %}
          {% if tmp_var == "1" %}
          餐饮美食
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_hangye"][0] %}
          {% if tmp_var == "2" %}
          酒吧KTV
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_hangye"][0] %}
          {% if tmp_var == "3" %}
          洗浴健身
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_hangye"][0] %}
          {% if tmp_var == "4" %}
          美容美发
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_hangye"][0] %}
          {% if tmp_var == "5" %}
          服装服饰
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_hangye"][0] %}
          {% if tmp_var == "6" %}
          休闲娱乐
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_hangye"][0] %}
          {% if tmp_var == "7" %}
          干洗店
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_hangye"][0] %}
          {% if tmp_var == "8" %}
          汽车美容
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_hangye"][0] %}
          {% if tmp_var == "9" %}
          其他
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">商铺类别</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_shangpuleibie"][0] %}
          {% if tmp_var == "1" %}
          商业街商铺
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_shangpuleibie"][0] %}
          {% if tmp_var == "2" %}
          社区住宅底商
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_shangpuleibie"][0] %}
          {% if tmp_var == "3" %}
          写字楼配套
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_shangpuleibie"][0] %}
          {% if tmp_var == "4" %}
          宾馆酒店
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_shangpuleibie"][0] %}
          {% if tmp_var == "5" %}
          旅游点商铺
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_shangpuleibie"][0] %}
          {% if tmp_var == "6" %}
          主题卖场
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_shangpuleibie"][0] %}
          {% if tmp_var == "7" %}
          百货/购物中心
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_shangpuleibie"][0] %}
          {% if tmp_var == "8" %}
          其他
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">出让形式</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_shangpuchurangxingshi"][0] %}
          {% if tmp_var == "1" %}
          商铺出租
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_shangpuchurangxingshi"][0] %}
          {% if tmp_var == "2" %}
          商铺出售
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_shangpuchurangxingshi"][0] %}
          {% if tmp_var == "3" %}
          全部
          {% end %}
         </span>
         </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
