{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">租　　金</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_zujin"][0] %}
          {% if tmp_var == "1" %}
          600元以下
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zujin"][0] %}
          {% if tmp_var == "2" %}
          600-1k元
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zujin"][0] %}
          {% if tmp_var == "3" %}
          1k-1.5k元
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zujin"][0] %}
          {% if tmp_var == "4" %}
          1.5-2k元
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zujin"][0] %}
          {% if tmp_var == "5" %}
          2k-2.5k元
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zujin"][0] %}
          {% if tmp_var == "6" %}
          2.5k-3k元
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zujin"][0] %}
          {% if tmp_var == "7" %}
          3k-5k元
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zujin"][0] %}
          {% if tmp_var == "8" %}
          5k元以上
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">面　　积</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "1" %}
          20㎡以下
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "2" %}
          20-40㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "3" %}
          40-60㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "4" %}
          60-90㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "5" %}
          90-120㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "6" %}
          120-200㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "7" %}
          200-500㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "8" %}
          500-1000㎡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_mianji2"][0] %}
          {% if tmp_var == "9" %}
          1000㎡以上
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">类　　型</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_leixing6"][0] %}
          {% if tmp_var == "1" %}
          厂房/仓库
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing6"][0] %}
          {% if tmp_var == "2" %}
          车位/土地
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing6"][0] %}
          {% if tmp_var == "3" %}
          全部
          {% end %}
         </span>
         </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
