{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">产品形式</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_chanpinxingshi"][0] %}
          {% if tmp_var == "1" %}
          喷绘
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chanpinxingshi"][0] %}
          {% if tmp_var == "2" %}
          招牌制作
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chanpinxingshi"][0] %}
          {% if tmp_var == "3" %}
          智能卡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chanpinxingshi"][0] %}
          {% if tmp_var == "4" %}
          PVC卡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chanpinxingshi"][0] %}
          {% if tmp_var == "5" %}
          人像卡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chanpinxingshi"][0] %}
          {% if tmp_var == "6" %}
          金属卡
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chanpinxingshi"][0] %}
          {% if tmp_var == "7" %}
          LED制作
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chanpinxingshi"][0] %}
          {% if tmp_var == "8" %}
          其他
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">价　　格</span></div>
    <div class="pure-u-3-4 iga_view_rec"><span class="val">{{ post_info['extra_jiage'][0] }} 元</span></div>
    
    <div class="pure-u-1-4 iga_view_rec"><span class="des">类　　别</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_zhizuoxingshi"][0] %}
          {% if tmp_var == "1" %}
          印刷
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zhizuoxingshi"][0] %}
          {% if tmp_var == "2" %}
          包装
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zhizuoxingshi"][0] %}
          {% if tmp_var == "3" %}
          全部
          {% end %}
         </span>
         </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
