{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">类　　型</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0204"][0] %}
          {% if tmp_var == "1" %}
          婚庆公司
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0204"][0] %}
          {% if tmp_var == "2" %}
          婚庆策划
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0204"][0] %}
          {% if tmp_var == "3" %}
          新娘化妆
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0204"][0] %}
          {% if tmp_var == "4" %}
          婚纱礼服
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0204"][0] %}
          {% if tmp_var == "5" %}
          鲜花彩车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0204"][0] %}
          {% if tmp_var == "6" %}
          婚庆主持
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0204"][0] %}
          {% if tmp_var == "7" %}
          婚礼跟拍
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0204"][0] %}
          {% if tmp_var == "8" %}
          婚庆酒店
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0204"][0] %}
          {% if tmp_var == "9" %}
          婚车租赁司仪
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0204"][0] %}
          {% if tmp_var == "10" %}
          其他婚庆服务
          {% end %}
         </span>
         </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
