{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">性别要求</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
         {% if "1" in post_info["extra_xingbieyaoqiu"] %}
         男
         {% end %}
         </span>
         
         <span class="val">
         {% if "2" in post_info["extra_xingbieyaoqiu"] %}
         女
         {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">工作性质</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_gongzuoxingzhi"][0] %}
          {% if tmp_var == "1" %}
          全职
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_gongzuoxingzhi"][0] %}
          {% if tmp_var == "2" %}
          兼职
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">薪　　金</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "1" %}
          面议
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "2" %}
          1k以下
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "3" %}
          1k~1.5k
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "4" %}
          1.5k~2k
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "5" %}
          2k~3k
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "6" %}
          3k~4k
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "7" %}
          4k~6k
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "8" %}
          6k~8k
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_xinjin"][0] %}
          {% if tmp_var == "9" %}
          8k以上
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">公司名称</span></div>
    <div class="pure-u-3-4 iga_view_rec"><span class="val">{{ post_info['extra_gongsimingcheng'][0] }} </span></div>
    
    <div class="pure-u-1-4 iga_view_rec"><span class="des">职　　位</span></div>
    <div class="pure-u-3-4 iga_view_rec"><span class="val">{{ post_info['extra_zhiwei'][0] }} </span></div>
    
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
