{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">租车类别</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_zucheleibie"][0] %}
          {% if tmp_var == "1" %}
          大巴租车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zucheleibie"][0] %}
          {% if tmp_var == "2" %}
          面包车租车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zucheleibie"][0] %}
          {% if tmp_var == "3" %}
          商务车租车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zucheleibie"][0] %}
          {% if tmp_var == "4" %}
          轿车租车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zucheleibie"][0] %}
          {% if tmp_var == "5" %}
          货车租车
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">类　　型</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_zumaicheleixing"][0] %}
          {% if tmp_var == "1" %}
          租车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zumaicheleixing"][0] %}
          {% if tmp_var == "2" %}
          卖车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_zumaicheleixing"][0] %}
          {% if tmp_var == "3" %}
          全部
          {% end %}
         </span>
         </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
