{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">服务内容</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_fuwuneirong1"][0] %}
          {% if tmp_var == "1" %}
          保姆
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fuwuneirong1"][0] %}
          {% if tmp_var == "2" %}
          照顾老人
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fuwuneirong1"][0] %}
          {% if tmp_var == "3" %}
          月嫂
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fuwuneirong1"][0] %}
          {% if tmp_var == "4" %}
          住家阿姨
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fuwuneirong1"][0] %}
          {% if tmp_var == "5" %}
          育婴师
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fuwuneirong1"][0] %}
          {% if tmp_var == "6" %}
          做饭
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fuwuneirong1"][0] %}
          {% if tmp_var == "7" %}
          照顾孩子
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fuwuneirong1"][0] %}
          {% if tmp_var == "8" %}
          钟点工
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_fuwuneirong1"][0] %}
          {% if tmp_var == "9" %}
          护工
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">发 布 人</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_faburen"][0] %}
          {% if tmp_var == "1" %}
          家政公司
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_faburen"][0] %}
          {% if tmp_var == "2" %}
          保姆
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_faburen"][0] %}
          {% if tmp_var == "3" %}
          东家
          {% end %}
         </span>
         </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
