{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">类　　型</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0308"][0] %}
          {% if tmp_var == "1" %}
          长途拼车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0308"][0] %}
          {% if tmp_var == "2" %}
          上下班拼车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0308"][0] %}
          {% if tmp_var == "3" %}
          上下学拼车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_leixing0308"][0] %}
          {% if tmp_var == "4" %}
          其他拼车
          {% end %}
         </span>
         </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
