{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">车 类 型</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_cheleixing"][0] %}
          {% if tmp_var == "1" %}
          小型车中型车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_cheleixing"][0] %}
          {% if tmp_var == "2" %}
          SUV/越野车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_cheleixing"][0] %}
          {% if tmp_var == "3" %}
          豪华车MPV/商务车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_cheleixing"][0] %}
          {% if tmp_var == "4" %}
          跑车
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_cheleixing"][0] %}
          {% if tmp_var == "5" %}
          其他
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">车 品 牌</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "1" %}
          大众
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "2" %}
          奇瑞
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "3" %}
          一汽
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "4" %}
          本田
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "5" %}
          奥迪
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "6" %}
          长安
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "7" %}
          现代
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "8" %}
          丰田
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "9" %}
          比亚迪
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "10" %}
          奔腾
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "11" %}
          红旗
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "12" %}
          别克
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "13" %}
          马自达
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "14" %}
          雪佛兰
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "15" %}
          夏利
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "16" %}
          奔驰
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_chepinpai"][0] %}
          {% if tmp_var == "17" %}
          其他
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">价　　格</span></div>
    <div class="pure-u-3-4 iga_view_rec"><span class="val">{{ post_info['extra_jiage'][0] }} 元</span></div>
    
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
