{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}

{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="col-sm-4"><span class="des">学科</span></div>
    <div class="col-sm-8">
    
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "1" %}
          海洋
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "2" %}
          地球物理
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "3" %}
          地质
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "4" %}
          天文
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "5" %}
          地理
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "6" %}
          大气
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "7" %}
          测绘
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "8" %}
          生态
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "9" %}
          农业
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "10" %}
          环境
          {% end %}
         </span>
         </div>
    <div class="col-sm-4"><span class="des">分辨率</span></div>
    <div class="col-sm-8">
    
         <span>
          {% set tmp_var = post_info["extra_resolution"][0] %}
          {% if tmp_var == "1" %}
          低分辨率
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_resolution"][0] %}
          {% if tmp_var == "2" %}
          中分辨率
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_resolution"][0] %}
          {% if tmp_var == "3" %}
          高分辨率
          {% end %}
         </span>
         </div>
    <div class="col-sm-4"><span class="des">范围</span></div>
    <div class="col-sm-8">
    
         <span>
          {% set tmp_var = post_info["extra_spatial"][0] %}
          {% if tmp_var == "1" %}
          区域级
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_spatial"][0] %}
          {% if tmp_var == "2" %}
          国家级
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_spatial"][0] %}
          {% if tmp_var == "3" %}
          全球区域
          {% end %}
         </span>
         </div>
    <div class="col-sm-4"><span class="des">矢量类型</span></div>
    <div class="col-sm-8">
    
         <span>
          {% set tmp_var = post_info["extra_vectype"][0] %}
          {% if tmp_var == "1" %}
          点
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_vectype"][0] %}
          {% if tmp_var == "2" %}
          线
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_vectype"][0] %}
          {% if tmp_var == "3" %}
          面
          {% end %}
         </span>
         
         <span>
          {% set tmp_var = post_info["extra_vectype"][0] %}
          {% if tmp_var == "4" %}
          混合
          {% end %}
         </span>
         </div>
    <div class="col-sm-4"><span class="des">文件大小</span></div>
    <div class="col-sm-8"><span class="val">{{ post_info['extra_size'][0] }} Mb</span></div>
    
</div>

{% end %}

{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
