{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">学科</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "1" %}
          海洋
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "2" %}
          地球物理
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "3" %}
          地质
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "4" %}
          天文
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "5" %}
          地理
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "6" %}
          大气
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "7" %}
          测绘
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "8" %}
          生态
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "9" %}
          农业
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "10" %}
          环境
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">范围</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_spatial"][0] %}
          {% if tmp_var == "1" %}
          区域级
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_spatial"][0] %}
          {% if tmp_var == "2" %}
          国家级
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_spatial"][0] %}
          {% if tmp_var == "3" %}
          全球区域
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">时代</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_temperal"][0] %}
          {% if tmp_var == "1" %}
          古地质年代
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_temperal"][0] %}
          {% if tmp_var == "2" %}
          古代，近代
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_temperal"][0] %}
          {% if tmp_var == "3" %}
          现代
          {% end %}
         </span>
         </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
