{% extends "../tpl_view.html" %}
{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>


{% end %}
{% block extrainfo %}

<div id="iga_view_rec_box">

    <div class="pure-u-1-4 iga_view_rec"><span class="des">学科</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "1" %}
          海洋科学
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "2" %}
          地球物理学
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "3" %}
          地质学
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "4" %}
          天文学
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "5" %}
          地理学
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "6" %}
          大气科学
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "7" %}
          测绘科学与技术
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "8" %}
          生态学
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "9" %}
          农业资源与环境
          {% end %}
         </span>
         
         <span class="val">
          {% set tmp_var = post_info["extra_subject"][0] %}
          {% if tmp_var == "10" %}
          环境科学与工程
          {% end %}
         </span>
         </div>
    <div class="pure-u-1-4 iga_view_rec"><span class="des">文件大小</span></div>
    <div class="pure-u-3-4 iga_view_rec">
    
         <span class="val">
          {% set tmp_var = post_info["extra_size"][0] %}
          {% if tmp_var == "1" %}
          文件大小
          {% end %}
         </span>
         </div>
</div>

{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
