{% extends "../tpl_basic.html" %}

{% block headinfo %}

<script src="{{ static_url('jslib/jquery-ui-1.11.2/jquery-ui.min.js') }}"></script>
<link rel="stylesheet" href="{{ static_url('jslib/jquery-ui-1.11.2/jquery-ui.min.css') }}">


<script type="text/javascript">
    function js_show_page(html2) {
        // 一些刷新、置顶的操作
        // alert(html2);
        $('#showCnt').load(html2);
    }
</script>

<script language="javascript">
    jQuery().ready(function () {
        // 左侧导航
        // 注意使用 <h3></h3>

        $("#user_navigation").accordion();
        // 页面打开时，先加载“会员状态”页面。
        js_show_page('/user/p_status');
    });


</script>


{% end %}

{% block typebody %}


<div class="row" style="margin-top:10px;">

    <div class="col-sm-2">
        <div style="height:100%;">
            <div id="user_navigation">
                <h3>用户信息</h3>
                <ul>
                    <li><a onclick="js_show_page('/user/p_status')">会员状态</a></li>
                    <li><a onclick="js_show_page('/user/p_renzheng_frame')">实名认证</a></li>
                    <li><a onclick="js_show_page('/user/p_password')">修改密码</a></li>
                    <!--
                    <li><a onclick="js_show_page('/user/p_jianli')">我的简历</a></li>
                    -->

                    <li><a onclick="js_show_page('/user/p_shoucang')">我的收藏</a></li>
                </ul>

                <h3><a class="head">信息管理</a></h3>
                <ul>
                    <li><a onclick="js_show_page('/filter/all')">所有信息</a></li>
                    <li><a onclick="js_show_page('/filter/notrefresh')">过期信息</a></li>
                    <li><a onclick="js_show_page('/filter/normal')">发布中信息</a></li>
                    <li><a onclick="js_show_page('/filter/banned')">被屏蔽信息</a></li>
                    <li><a onclick="js_show_page('/filter/novalid')">未审核信息</a></li>
                    <!--
                    <li><a onclick="select('/user/list/tuiguang')">推广信息</a></li>
                    <li><a onclick="select('/user/list/notg')">非推广信息</a></li>
                    -->
                </ul>

                <h3><a class="head">VIP推广消息</a></h3>
                <ul>
                    <li><a onclick="js_show_page('/tui/0100/all')">房产推广</a></li>
                    <li><a onclick="js_show_page('/tui/0300/all')">汽车推广</a></li>

                    <li><a onclick="js_show_page('/tui/0400/all')">商业服务推广</a></li>
                    <li><a onclick="js_show_page('/tui/0200/all')">生活服务推广</a></li>
                    <li><a onclick="js_show_page('/tui/0700/all')">人才招聘</a></li>
                    <!--
                    <li><a onclick="js_show_page('/link/list')">右侧广告栏</a></li>
                    -->
                </ul>

                <h3><a class="head">财务管理</a></h3>
                <ul>
                    <!--
                    <li><a onclick="js_show_page('/user/page_upgrade')">升级</a></li>
                    -->
                    <li><a onclick="js_show_page('/user/p_finance_charge')">充值</a></li>
                    <li><a onclick="js_show_page('/user/p_finance_convert')">积分兑换金币</a></li>
                    <li><a onclick="js_show_page('/user/p_finance_buy_publish')">购买发布次数</a></li>
                    <li><a onclick="js_show_page('/user/p_finance_buy_refresh')">购买刷新次数</a></li>
                    <li><a onclick="js_show_page('/user/p_finance_buy_zhiding')">购买置顶次数</a></li>
                </ul>


                <h3><a class="head">客服中心</a></h3>
                <ul>
                    <!--                        <li><a onclick="select('/link/add')" >添加图片广告</a></li>  -->
                    <li><a onclick="js_show_page('/user/p_rengong')">联系人工服务</a></li>
                    <li><a onclick="js_show_page('/user/p_tousu')">投诉中心</a></li>
                    <li><a onclick="js_show_page('/user/p_help')">帮助中心</a></li>
                    <li><a onclick="js_show_page('/user/p_coupon')">我发布的优惠</a></li>
                </ul>

            </div>
        </div>

    </div>

    <div class="col-sm-10">


            <span id="showCnt"></span>


    </div>

</div>

{% end %}