<script type="text/javascript">
    $.ajaxSetup({cache: false});

    function get_coupon() {
        //    $.ajaxSetup({cache: false})
        // 预约刷新
        // 模拟Form提交
        uu = $('#telin')[0].value;

        $('#couponInfo').load('/coupon/getinfo/' + uu);


    }


</script>

<div class="panel panel-info">
    <div class="panel-heading">
        我发布的优惠
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">

            <legend>输入电话号码</legend>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="telin">输入</label>

                <div class="col-sm-10">
                    <input class="form-control" type="text" id="telin" onkeyup="get_coupon()" value=""/>
                </div>
            </div>
        </form>


        <div>
            <span id="couponInfo"></span>
        </div>
    </div>
</div>