<script>
    // 提交预约刷新的动作
    function sub_refresh(uid, act) {
        // $.ajaxSetup({cache: false});
        // 预约刷新
        // 模拟Form提交
        var post_data1 = "def_uid=" + uid + "&yyday=" + $("#yyday_" + uid).val() + "&yyhour=" + $("#yyhour_" + uid).val() + "&yymin=" + $("#yymin_" + uid).val();
        $.ajax({
            type: "POST",
            url: "/appoint/",
            data: post_data1,

            success: function (msg) {
                $('#showCnt').load('/filter/' + act);
            }
        });
        jQuery().colorbox.close();
    }

    $(document).ready(function () {
        // 用于预约刷新
        // 因为Ajax的原因，不能放到 main  中。
        $.ajaxSetup({cache: false});
        $(".inline").colorbox({inline: true, width: "500px"});
    });
</script>
<div class="panel panel-info">
    <div class="panel-heading">
        {% module user_info(wuserinfo, wusernum) %}
    </div>


    <ul class="list-group">

        {% for post_info in user_published_infos %}
        <li class="list-group-item">
            <div class="row">

                <div class="col-sm-9">
                    <p>
                        <a href="/info/{{ post_info['def_uid'] }}" target="_blank">
                            {{ post_info['title'][0] }}
                        </a>
                    </p>

                    <p>

                        <!-- 状态 -->
                        {% if post_info['def_banned'] == 1 %}
                <span class="label label-danger">
                被屏蔽</span>
                        {% end %}

                        {% if post_info['def_valid'] == 1 %}
                <span class=" label label-success">
                审核通过</span>
                        {% else %}
                <span class=" label label-warning">
                未审核</span>
                        {% end %}

                        {% if post_info['def_zhiding'] == 1 %}
                <span class="  label  label-success">
                已置顶</span>
                        {% end %}

                        {% if post_info['def_tuiguang'] == 1 %}
                <span class=" label label-success">
                已推广</span>
                        {% end %}

                        {% if post_info['def_refresh'] == 1 %}
                <span class=" label label-success">
                已刷新</span>
                        {% end %}

                    </p>

                    <p>
                        分类：<b class="text-info ">{{ post_info['catname'] }}</b> 发布时间：<b
                            class="text-info ">{{ post_info['def_create_time_str'] }}</b>
                    </p>


                    <p>
                        <!-- 文章操作 -->
                        <a href="/info/{{ post_info['def_uid'] }}" target="_blank"
                           class="btn btn-primary btn-sm">打开</a>
                        <a href="/edit/{{ post_info['def_uid'] }}" target="_blank"
                           class="btn btn-primary btn-sm">修改</a>
                        <a onclick="js_show_page('/delete/{% raw post_info['def_uid'] %}/{{ kwd['action'] }}')"
                           class="btn btn-primary btn-sm">删除</a>
                    </p>


                </div>

                <div class="col-sm-3">
                    <p>
                        <!-- 文件属性操作 -->

                        {% if (post_info['def_zhiding'] != 1 and wusernum.buy_zhiding_num > 0) %}
                        <a class="btn btn-primary btn-sm"
                           onclick="js_show_page('/zhiding/{% raw post_info['def_uid'] %}/{{ kwd['action'] }}')">
                            置顶
                        </a>
                        {% end %}

                        {% if post_info['def_refresh'] != 1 %}
                        {% if wusernum.free_refresh_num > 0 %}
                        <a class="btn btn-primary btn-sm"
                           onclick="js_show_page('/refresh/{% raw post_info['def_uid'] %}/{{ kwd['action'] }}')">立即刷新 </a>

                        {% elif wusernum.buy_refresh_num > 0 %}
                        <a class="btn btn-primary btn-sm"
                           onclick="js_show_page('/refresh/{% raw post_info['def_uid'] %}/{{ kwd['action'] }}')">购买刷新</a>
                        {% else %}
                        <a class="btn btn-default btn-xs" onclick="">没有刷新次数了</a>

                        {% end %}
                        {% end %}


                    </p>


                </div>
            </div>

        </li>
        {% end %}

    </ul>


    <div class="panel-footer">
        你可以通过信息中的相关按钮来对信息进行操作。
    </div>
</div>