<script>

    function js_check_pass() {
        // 模拟Form提交
        $.ajax({
            type: "POST",
            url: "/member/checkpass",
            data: "oldpass=" + $("#old_pwd").val(),

            success: function (msg) {
                js_change_pass()
            },
            error: function () {
                alert('原始密码错误');
                // $('#showCnt').load('/user/page_password')
            }
        })
    }

    // 提交修改密码的动作
    function js_change_pass() {

        // 模拟Form提交
        $.ajax({
            type: "POST",
            url: "/member/changepass",
            data: "oldpass=" + $("#old_pwd").val() + '&newpass=' + $("#new_pwd").val(),

            success: function (msg) {
                alert('密码修改成功');
                $('#showCnt').load('/user/page_status');
            },
            error: function () {
                alert('修改密码不成功');
                // $('#showCnt').load('/user/page_password')
            }
        })

    }

    // jquery.validate.js 验证
    $().ready(function () {

        $("#chPassForm").validate({
            rules: {
                old_pwd: "required",
                new_pwd: {
                    required: true,
                    minlength: 6
                },

                re_new_pwd: {
                    required: true,
                    minlength: 6,
                    equalTo: "#new_pwd"
                }
            },
            messages: {
                old_pwd: "<span class='red'>请输入原密码</span>",

                new_pwd: {
                    required: "<span class='red'>请输入密码</span>",
                    minlength: "<span class='red'>密码不能小于6个字符</span>"
                },
                re_new_pwd: {
                    required: "<span class='red'>请输入确认密码</span>",
                    minlength: "<span class='red'>确认密码不能小于6个字符</span>",
                    equalTo: "<span class='red'>两次输入密码不一致</span>"
                }
            }
        });

        $('#password_submit').click(function () {
            if ($("#chPassForm").valid()) {
                // do some stuff
                js_check_pass()
            }
            else {
                // just show validation errors, dont post
            }
        });
    });
</script>

<div class="panel panel-info">
    <div class="panel-heading">
        {% module user_info(wuserinfo, wusernum) %}
    </div>
    <div class="panel-body">

            <form id="chPassForm" method="post" class="form-horizontal" role="form">
              

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="old_pwd">原密码</label>

                    <div class="col-sm-10">
                        <input id="old_pwd" name="old_pwd" type="password" class="form-control"/>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="new_pwd">新密码</label>

                    <div class="col-sm-10">
                        <input id="new_pwd" name="new_pwd" type="password" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="re_new_pwd">确认新密码</label>

                    <div class="col-sm-10">
                        <input id="re_new_pwd" name="re_new_pwd" type="password" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <!--
                    <label class="col-sm-2 control-label" for="cb" class="pure-checkbox">
                        <input id="cb" type="checkbox"> I've read the terms and conditions
                    </label>
                    -->
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <a class="btn btn-primary" id="password_submit">
                            修改密码
                        </a>

                    </div>
                </div>

            </form>



    </div>

    <div class="panel-footer">
        <b>成功修改登录密码后，需要您用<font color="#ff3300">新密码</font>重新登录会员中心</b>
    </div>
</div>