{% extends "../tpl_admin.html" %}

{% block bodyinfo %}
<div class="content">
    <div class="clearfix content-inner">
        <div class="content-main">
            <div class="content-main-inner">

                <div class="pwrap">
                    <div class="phead">
                        <div class="phead-inner">
                            <div class="phead-inner">
                                <h3 class="ptitle"><span style="color:	#3C3C3C;">我发布的分类信息</span>

                                    <p class="pextra addwebsite" style="color:#FF0000;">
                                        <a href="/publish/"
                                           target="_blank"><font
                                                color="#F75000">发布分类信息</font></a></p></h3>
                            </div>
                        </div>
                    </div>
                    <div class="pbody">

                        <div class="cleafix pagetab-wrap">
                            <ul class="pagetab">
                                <li><a href="?m=info&l=normal" class="current"><span>已发布上网</span></a></li>
                                <li><a href="?m=info&l=inormal"><span>审核中</span></a></li>
                            </ul>
                        </div>
                        <div id="msg_success"></div>
                        <div id="msg_error"></div>
                        <div id="msg_alert"></div>
                        <form method="post" action="?m=info&l=normal&page=1" name="form1">
                            <input id="ac" name="ac" value="" type="hidden">

                            <div class="datatablewrap">
                                <table class="pure-table">
                                    <thead>
                                    <tr>
                                        <td>&nbsp;<input class="checkall" name="checkall" type="checkbox" id="checkall"
                                                         onClick="CheckAll(this.form)"/></td>
                                        <td>信息标题</td>
                                        <td>发布时间</td>
                                        <td>过期时间</td>
                                        <td>状态</td>
                                        <td>分类置顶</td>
                                        <td>首页置顶</td>
                                        <td>操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    {% for info in user_published_infos %}
                                    <tr>
                                        <td>&nbsp;<input class="checkall" name="checkall" type="checkbox" id="checkall"
                                                         onClick="CheckAll(this.form)"/></td>
                                        <td>{% raw (info['title'][0]) %}</td>
                                        <td>{% raw (info['def_create_time_str']) %}</td>
                                        <td>过期时间</td>
                                        <td>
                                            {% if info['def_zhiding'] == 1 %}
                                            已置顶
                                            {% end %}
                                            {% if info['def_tuiguang'] == 1 %}
                                            已推广
                                            {% end %}
                                            {% if info['def_refresh_time'] > info['def_update_time'] %}
                                            已刷新
                                            {% end %}
                                        </td>
                                        <td>分类置顶</td>
                                        <td>首页置顶</td>
                                        <td>
                                            <div><a href="/modify/{% raw info['def_uid'] %}">修改</a>|
                                                <a href="/operate/delete/{% raw info['def_uid'] %}">删除</a>|
                                                <a href="/operate/tuiguang/{% raw info['def_uid'] %}">推广</a>|
                                                <a href="/operate/zhiding/{% raw info['def_uid'] %}">置顶</a>|
                                                <a href="/operate/refresh/{% raw info['def_uid'] %}">立即刷新</a>|
                                                <a href="/operate/cancel/{% raw info['def_uid'] %}">取消预约</a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% end %}


                                    <!--

                                    <td height="15" colspan="10">
                                        <div class="nodata">没有记录</div>
                                    </td>
-->


                                    </tbody>
                                </table>
                                <div class="clearfix datacontrol">
                                    <div class="dataaction">
                                        <span class="minbtn-wrap"><span class="btn"><input type="button" value="删除"
                                                                                           class="button"
                                                                                           onClick="if(!confirm('您确定要删除这些信息主题吗?一旦删除将不可恢复'))return false; $('ac').value = 'del'; document.form1.submit();"/></span></span>
                                        <span class="minbtn-wrap"><span class="btn"><input type="button" value="刷新"
                                                                                           class="button"
                                                                                           onClick="if(!confirm('您当前拥有金币5个，刷新每一个分类信息标题将扣除您1个金币'))return false; $('ac').value = 'refresh'; document.form1.submit();"/></span></span>
                                        <span class="minbtn-wrap"><span class="btn"><input type="button" value="标题套红"
                                                                                           class="button"
                                                                                           onClick="if(!confirm('您当前拥有金币5个，套红每一个分类信息标题将扣除您1个金币'))return false; $('ac').value = 'red'; document.form1.submit();"/></span></span>
                                        <span class="minbtn-wrap"><span class="btn"><input type="button" value="标题加粗"
                                                                                           class="button"
                                                                                           onClick="if(!confirm('您当前拥有金币5个，加粗每一个分类信息标题将扣除您1个金币'))return false; $('ac').value = 'bold'; document.form1.submit();"/></span></span>
                                    </div>
                                    <div class="pagination"><span class=anum>共0记录</span></div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="pfoot"><p><b>-</b></p></div>
                </div>

            </div>
        </div>
    </div>
</div>
{% end %}