{% extends "../tpl_plain.html" %}


{% block bodyinfo %}


<div class="row">
    <div class="col-sm-9">
        <form id="formId" action="/user/renzheng" method="post" enctype="multipart/form-data"
              class="form-horizontal" role="form">
            <fieldset>
                <legend>输入个人信息</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">输入身份证号</label>

                    <div class="col-sm-10">
                        <input id="imageId" type="text" name="imageName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">附件：</label>

                    <div class="col-sm-10">
                        <input id="imageId" type="file" name="imageName"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <button type="submit">认证</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-sm-3">
        <img id="img" src="{{ static_url(wuserinfo.img_credit) }}" width="80" height="80" style="display:block;"/>

    </div>
</div>

{% end %}