<div class="pure-form pure-form-aligned">
<div style="margin-bottom: 15px">
    <span>客服一：</span>
    <a target="_blank"
       href="http://wpa.qq.com/msgrd?v=3&uin=118171&site=qq&menu=yes">
        <img border="0"
             src="http://wpa.qq.com/pa?p=2:118171:41"
             alt="点击这里给我发消息"
             title="点击这里给我发消息"/>
    </a>
</div>


<div style="margin-bottom: 15px">
    <span>客服二：</span>
    <a target="_blank"
       href="http://wpa.qq.com/msgrd?v=3&uin=613236001&site=qq&menu=yes">
        <img border="0"
             src="http://wpa.qq.com/pa?p=2:613236001:41"
             alt="点击这里给我发消息"
             title="点击这里给我发消息"/>
    </a>
</div>

<div style="margin-bottom: 15px">
    <span>客服三：</span>
    <a target="_blank"
       href="http://wpa.qq.com/msgrd?v=3&uin=2047599731&site=qq&menu=yes">
        <img border="0"
             src="http://wpa.qq.com/pa?p=2:2047599731:41"
             alt="点击这里给我发消息"
             title="点击这里给我发消息"/>
    </a>
</div>
<div style="margin-bottom: 15px">
    <span>客服四：</span>
    <a target="_blank"
       href="http://wpa.qq.com/msgrd?v=3&uin=329030057&site=qq&menu=yes">
        <img border="0"
             src="http://wpa.qq.com/pa?p=2:329030057:41"
             alt="点击这里给我发消息"
             title="点击这里给我发消息"/>
    </a>
</div></div>