<script>

    // 提交预约刷新的动作
    function sub_refresh(uid, act) {
        $.ajaxSetup({cache: false});
        // 预约刷新
        // 模拟Form提交
        $.ajax({
            type: "POST",
            url: "/operate/",
            data: "def_uid=" + uid + "&yyday=" + $("#yyday_" + uid).val() + "&yyhour=" + $("#yyhour_" + uid).val() + "&yymin=" + $("#yymin_" + uid).val(),

            success: function (msg) {
                $('#showCnt').load('/user/page_touxiang');

            }
        });
        jQuery().colorbox.close();
    }

    $(document).ready(function () {
        $(".inline").colorbox({inline: true, width: "50%"});
    });


    function tijiao(forid) {

        $(forid).submit();
        // $.load('/user/');
    }


</script>
<div class="panel panel-info">

    <div class="panel-heading">
        {% module user_info(wuserinfo, wusernum) %}
    </div>
    <div class="panel-body">


        <div class="row">
            <div class="col-sm-9">


                <p><b>用户名</b> {{ wuserinfo.user_name }}</p>

                <p><b>真实姓名</b> {{ wuserinfo.cname }}　</p>

                <p><b>性别</b> {% if wuserinfo.sex == 1 %} 男 {% else %} 女 {% end %} </p>

                <p><b>联系电话</b> {{ wuserinfo.phone }}</p>

                <p><b>QQ</b> {{ wuserinfo.qq }}</p>

                <p><b>E-mail</b> {{ wuserinfo.email }} </p>

                <p><b>用户身份:</b> {% if wuserinfo.is_credit == 1 %} 已认证 {% else %} 未认证 {% end %} </p>

                <p><b>用户角色:</b> {% if wuserinfo.is_vip == 1 %} VIP用户 {% else %} 普通用户 {% end %} </p>

                <p><b>积分：</b> <span class="red"> {{ wusernum.def_jifen }}</span></p>

                <p><b>金币：</b> <span class="red"> {{ wusernum.def_jinbi }}</span></p>

                <p><b>剩余刷新次数：</b> <span class="red"> {{ wusernum.free_refresh_num  + wusernum.buy_refresh_num }} ( {{ wusernum.free_refresh_num }}次免费 )</span>
                </p>

                <p><b>剩余发布次数：</b> <span class="red"> {{ wusernum.free_publish_num + wusernum.buy_publish_num }} ( {{ wusernum.free_publish_num }} 次免费 )</span>
                </p>

                <p><b>剩余置顶次数：</b> <span class="red"> {{ wusernum.buy_zhiding_num }}</span></p>

                <p><a href="#inline_uu" target="_blank" class="inline btn btn-primary" id="Button1"> 修改个人信息 </a></p>


                <div style="display: none;">
                    <div id="inline_uu">
                        <form class="form-horizontal" role="form" action="/user/updateinfo" method="post">
                            <legend> 联系方式 填写完善的联系方式, 可以帮助用户更容易找到你.</legend>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="uname">用户名</label>

                                    <div class="col-sm-10">
                                        <input id=uname type="text" class="form-control"
                                               value="{{ wuserinfo.user_name }}"
                                               readonly/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="truenamet">真实姓名</label>

                                    <div class="col-sm-10">
                                        <input id="truenamet" type="text" name="cname" class="form-control"
                                               value="{{ wuserinfo.cname }}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="xingbie">性别</label>

                                    <div class="col-sm-10" id="xingbie">
                                        <input type="radio" value="1" name="sex" id="gender1" {% if wuserinfo.sex == 1
                                        %}
                                        checked="checked" {% end %}/>男
                                        <input type="radio" value="0" name="sex" id="gender2" {% if wuserinfo.sex == 0
                                        %}
                                        checked="checked" {% end %}/>女
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="tell">联系电话</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="tel" value="{{ wuserinfo.phone }}"

                                               id="tell"/>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="qqq">QQ</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="qq" value="{{ wuserinfo.qq }}"
                                               id="qqq"/>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="email">Email</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="email" id="email"
                                               value="{{ wuserinfo.email }}"/>
                                    </div>
                                </div>


                                <div class="pure-controls">
                                    <label class="col-sm-2 control-label" for="sub_dvk">
                                        <!--   <input id="cb" type="checkbox"> I've read the terms and conditions -->
                                    </label>

                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary" id="sub_dvk">提交更改
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>


                    </div>
                </div>

            </div>

            <div class="col-sm-3">

                <img src="{{ static_url(wuserinfo.img_touxiang) }}" style="height: 200px;width: 160px;"
                     class="img_with_border"/>

                <div>
                    <a href="#pop_change_touxiang" class="inline pure-button btn-primary  pure-button-primary"
                       style="margin:10px; color: #fff" id="Button1">更换头像</a>
                </div>

                <div style="display: none;">
                    <div id="pop_change_touxiang">
                        <form method="post" name="form1" action="/user/touxiang" enctype="multipart/form-data"
                              class="form-horizontal" role="form">
                            <legend>更新用户头像</legend>

                            <fieldset>


                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="name1">选择文件：</label>
                                    <label class="col-sm-9" id="name1"
                                           style="width:450px; text-align: left;">支持上传的类型：png,jpg,gif,jpeg，图片尺寸：180
                                        *
                                        150</label>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="litpic">选择文件：</label>
                                    <label class="col-sm-9" id="litpic">
                                        <input id="uploadImage" type="file" name="user_touiang" class="fimg1"
                                               onchange="tijiao(form1);"/></label>
                                </div>

                            </fieldset>
                        </form>

                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="panel-footer">
        *基本信息和头像分别点击相应按钮修改。
    </div>
</div>