<div class="panel panel-info">
    <div class="panel-heading">
        投诉中心
    </div>
    <div class="panel-body">

        <form class="form-horizontal" role="form">

            <legend>发送投诉问题</legend>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="tstitle">标题</label>

                <div class="col-sm-10">
                    <input id='tstitle' type="text" class="form-control"/>
                </div>
            </div>
            <div class="form-group">

                <label class="col-sm-2 control-label" for="tscontent">内容</label>

                <div class="col-sm-10">
                    <textarea id="tscontent" class="form-control"> </textarea>
                </div>
            </div>
            <div class="form-group">

                <label class="col-sm-2 control-label" for="tssub"></label>

                <div class="col-sm-10">
                    <button type="submit" id="tssub" class="btn btn-primary">提交</button>
                </div>
            </div>

        </form>
    </div>
</div>