<form class="pure-form pure-form-aligned">

    <legend>发送投诉问题</legend>

    <fieldset>

        <label for="tstitle">标题</label>
        <input id='tstitle' type="text" style="width: 300px"/>
    </fieldset>

    <fieldset>

        <label for="tscontent">内容</label>
        <textarea id="tscontent" style="width:500px; height: 300px">

        </textarea>

    </fieldset            >


     <fieldset>

        <label for="tssub"></label>
        <button type="submit" id="tssub" class="pure-button pure-button-primary">提交</button>

    </fieldset >

</form>