{% extends "../tpl_admin.html" %}

{% block headinfo %}


{% end %}

{% block bodyinfo %}
<div style="height:100%;">
    <ul id="1navigation">
        <li><a class="1head">信息审核</a>
            <ul>
                <li><a href="/admin/list/check" target="rightFrame">查看当前城市</a></li>


            </ul>
        </li>
        <li><a class="1head">信息管理</a>
            <ul>
                <li><a href="/admin/page_members" target="rightFrame">用户管理</a></li>
                <li><a href="" target="rightFrame">foo</a></li>
            </ul>
        </li>
        <li><a class="1head">FOO</a>
            <ul>
                <li><a href="" target="rightFrame">foo1</a></li>
                <li><a href="" target="rightFrame">foo2</a></li>
            </ul>
        </li>

    </ul>
</div>

{% end %}