<script>
    $(document).ready(function () {
        //元素调用Colorbox的示例
        $(".group1").colorbox({href: "/widget/select_page"});
    });
</script>


<div class="content-main-inner">
    <dl>
        {% for wuser in wuser_recs %}
        <dt>{{ wuser.user_name }}</dt>
        <dd><a href="{{ static_url( wuser.img_credit) }}" target="_blank"><img src="{{ static_url( wuser.img_credit) }}" width="200"/></a></dd>
        <dd><a href="">通过认证</a></dd>
        {% end %}
    </dl>

</div>

