{% extends "../tpl_admin.html" %}

{% block bodyinfo %}

<div class="content">
    <div class="clearfix content-inner">
        <div class="content-main">
            <div class="content-main-inner">
                <div class="pwrap setting-password">
                    <div class="phead">
                        <div class="phead-inner">
                            <div class="phead-inner">
                                <h3 class="ptitle"><span>修改密码</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="pbody">
                        <div class="formcaption-note">
                            成功修改登录密码后，需要您用<font color="#ff3300">新密码</font>重新登录会员中心
                        </div>
                        <div id="msg_success"></div>
                        <div id="msg_error"></div>
                        <div id="msg_alert"></div>
                        <form action="?m=password" method="post">

                            <div class="formgroup">
                                <div class="formrow">
                                    <h3 class="label"><label for="q">密码问题</label></h3>

                                    <div class="form-enter">
                                        <select name='safequestion' id='safequestion'>
                                            <option value='0'>没安全提示问题</option>
                                            <option value='1'>你最喜欢的格言什么？</option>
                                            <option value='2'>你家乡的名称是什么？</option>
                                            <option value='3'>你读的小学叫什么？</option>
                                            <option value='4'>你的父亲叫什么名字？</option>
                                            <option value='5'>你的母亲叫什么名字？</option>
                                            <option value='6'>你最喜欢的偶像是谁？</option>
                                            <option value='7'>你最喜欢的歌曲是什么？</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="formrow">
                                    <h3 class="label"><label for="a">密码答案</label></h3>

                                    <div class="form-enter">
                                        <input name="safeanswer" type="text" value="" class="text" id="safeanswer">
                                    </div>
                                </div>
                                <div class="formrow">
                                    <h3 class="label"><label for="newpasswd">新密码</label></h3>

                                    <div class="form-enter">
                                        <input id="userpwd" class="text" name="userpwd" type="password" value=""/>
                                    </div>
                                </div>
                                <div class="formrow">
                                    <h3 class="label"><label for="newpasswd2">确认新密码</label></h3>

                                    <div class="form-enter">
                                        <input id="reuserpwd" class="text" name="reuserpwd" type="password" value=""/>
                                    </div>
                                </div>
                                <div class="formrow formrow-action">
                                    <span class="minbtn-wrap"><span class="btn"><input class="button"
                                                                                       name="password_submit"
                                                                                       type="submit"
                                                                                       value="修改密码"/></span></span>
                                </div>
                            </div>
                        </form>


                    </div>
                    <div class="pfoot"><p><b>-</b></p></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}
