{% extends "../tpl_basic.html" %}

{% block headinfo %}
<script type="text/javascript" src="{{ static_url('jslib/validate/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('jslib/validate/message_cn.js') }}"></script>

<script type="text/javascript">
    $().ready(function () {

         // jquery.validate.js 验证
        $("#registerform").validate(
                {
                    rules: {
                        userName: {
                            required: true
                        },
                        password: "required"

                    },
                    messages: {
                        userName: {
                            required: "<span class='red'>请输入用户名</span>"
                        },
                        password: "<span class='red'>请输入密码</span>"

                    }
                }
        );
    });
</script>


{% end %}

{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>
{% end %}

{% block typebody %}

<div id="main">
    <div id="crumb">
        <ol class="pre">注册</ol>
        <ol class="step fb gray">
            <li class="step_on"><span class="white">1</span>选择会员类型 <span class="blue">&gt;</span></li>
            <li><span class="white">2</span>填写注册资料 <span class="gray">&gt;</span></li>
            <li><span class="white">3</span>注册成功</li>
        </ol>
    </div>
    <div class="clearfix"></div>
    <div id="subreg">
        <div id="reg_index">
            <div id="main">
                <div id="left">
                    <div class="wrap">
                        <strong class="title">商家/企业注册</strong>

                        <div class="b">
                            <div class="icon">商家/企业点此注册</div>
                            <div class="text">商家/企业点此注册</div>
                            <div class="btn">
                                <a href="/member/todo2">
                                    <b>免费注册</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="right">
                    <div class="wrap">
                        <strong class="title">个人会员注册</strong>

                        <div class="b">
                            <div class="icon">个人点此注册</div>
                            <div class="text">个人点此注册</div>
                            <div class="btn">
                                <a href="/member/todo">
                                    <b>免费注册</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}

{% block footer %}
<p>{{ footer_text }}</p>
{% end %}