{% extends "../../theme/bage.html" %}

{% block head %}


<title>云算笔记 云计算 在线计算 科学计算 工程计算</title>
<meta name="description"
      content="由科学家与工程师维护的，专注在线计算、云计算应用的网站，提供科学计算与工程计算应用,包括环境影响评价计算,地理学计算,数学计算,物理计算,化学计算">
<meta name="keywords"
      content="计算,在线计算器,云计算,在线计算,常用数据,常规数据,科学计算,工程计算,环评计算,地理计算,数学计算,物理计算,化学计算,数学公式,物理公式,建筑计算">

<script type="text/javascript">
    $().ready(function () {
        $("#form_changepass").validate(
                {
                    rules: {
                        user_name: {
                            required: true

                        },
                        user_pass: {
                            required: true,
                            rangelength: [6, 20]
                        },
                        user_pass2: {
                            required: true,
                            equalTo: "#user_pass"
                        }

                    },
                    messages: {


                        user_pass: {
                            required: "<span class='red'>请输入密码</span>",
                            rangelength: "<span class='red'>密码最少为6位，最长为20位</span>"
                        },
                        user_pass2: {
                            required: "<span class='red'>请输入密码确认密码</span>",
                            equalTo: "<span class='red'>两次输入密码不一致</span>"
                        }

                    }
                }
        );
    });
</script>
{% end %}


{% block zhuti %}

<div class="panel-heading">
    <h1>修改密码</h1>
</div>
<div class="panel-body">
    <form class="pure-form pure-form-aligned" action="/user/changepass" method="post" id="form_changepass">
        <div class="pure-control-group">
            <label for="user_name">用户名</label>
            <input type="text" name="user_name" id="user_name" class="form-control" value="{{user_info.user_name}}" readonly/>
        </div>


        <div class="pure-control-group">
            <label for="rawpass">原密码</label>
            <input type="password" name="rawpass" id="rawpass" class="form-control" placeholder="请输入原密码"/>
        </div>

        <div class="pure-control-group">
            <label for="user_pass">新密码</label>
            <input type="password" name="user_pass" id="user_pass" class="form-control" placeholder="请输入新密码"/>
        </div>
        <div class="pure-control-group">
            <label for="user_pass2">确认密码</label>
            <input type="password" name="user_pass2" id="user_pass2" class="form-control" placeholder="请输入确认密码"/>
        </div>


        <div class="pure-control-group">
            <label></label>
            <button type="submit" class="pure-button pure-button-primary">修改</button>
            <a href="/user/logout" class="pure-button pure-button-primary">注销</a>
        </div>
    </form>
</div>

{% end %}

