{% extends "../tpl_edit.html" %}

{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>
{% end %}

{% block extrainfo %}

<div id="iga_edit_rec_box">

    <div class="pure-control-group">
    <label for="extra_spatial"><span style="color:red">*</span>范围</label>
    <select id="extra_spatial" name="extra_spatial" class="required">
            
        <option value="1"
        {% if post_info["extra_spatial"][0] == "1" %}
        selected = "selected"
        {% end %}
        >区域级</option>        
                
        <option value="2"
        {% if post_info["extra_spatial"][0] == "2" %}
        selected = "selected"
        {% end %}
        >国家级</option>        
                
        <option value="3"
        {% if post_info["extra_spatial"][0] == "3" %}
        selected = "selected"
        {% end %}
        >全球区域</option>        
        </select></div>
    <div class="pure-control-group">
    <label for='extra_size'><span style="color:red">*</span>文件大小</label>
    <input id='extra_size' name="extra_size" value="{{ post_info['extra_size'][0] }}" type="text" style="width:350px" class="number"> Mb
    </div>
</div>
{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
