

<div class="panel-heading">
    <span id="userInfo" style="color:#000000;border-bottom:1px solid #005065;font-size:0.8em;width: 95%;">
        {% module vip_info(wuserinfo, wuservip) %}
    </span>
</div>
<div class="panel-body">


    <div class="pbody" style="margin:10px auto;">


    <iframe src="/link/add/{{ kwd['parentid'] }}" width="800" height='400' border="1"></iframe>


    </div>


</div>

<div class="panel-footer"
     style=" background: #eee; border:1px solid #ddd;width: 92%; padding:1% 2%;  margin:15px 2%;  ">
    你可以收藏他人所发布的信息，不可收藏自己发布的信息。
</div>


