{% extends "../tpl_basic.html" %}


{% block typebody %}

<!--  bodyinfo -->

<div style="margin:50px auto; width:80%;text-align:left;">

    <form class="pure-form pure-form-aligned" method="post" enctype="multipart/form-data">
        <fieldset>

            <legend>修改图片外链信息</legend>
            <input type="hidden" name="uid" value="{{ linkinfo.uid }}" />
            <input type="hidden" name="old_img" value="{{ linkinfo.img }}" />

            <div class="pure-control-group">
                <label for="cityid1">所属城市：</label>
                <label id="cityid1" style="text-align: left;" >
                    {{ kwd['cityname'] }}</label>
            </div>


            <div class="pure-control-group">
                <label for="catid">选择类别：</label>
                <select id="catid" name="catid">
                    {% raw kwd['cat_str'] %}</select>
            </div>


            <div class="pure-control-group">
                <label for="link_image1">现在图片：</label>
                <label id="link_image1" style="margin:2px 0 2px 0;">
                    <img src="{{ static_url(linkinfo.img) }} " style="width: 200px;"/>
                </label>
            </div>

            <div class="pure-control-group">
                <label for="link_image">上传图片：</label>
                <label id="link_image">
                    <input class="text pure-text" type="file" name='link_image'   style="margin:2px 0 2px 0;height: 30px;"/>
                </label>
            </div>


            <div class="pure-control-group">
                <label for="link_url">链接：</label>
                <input type="text" name="link_url" id="link_url" value="{{ linkinfo.url }}"/>
            </div>


            <div class="pure-control-group">
                <label for="sub1"></label>
                <input type="submit" id="sub1" value="提交"/>
            </div>


        </fieldset>
    </form>
</div>

{% end %}
