{% extends "../tpl_add.html" %}

{% block topmenu %}
{% raw topmenu %}
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>
{% end %}

{% block extrainfo %}

<div id="iga_add_rec_box">

    <div class="pure-control-group">
    <label for="extra_subject"><span style="color:red">*</span>学科</label>
    <select id="extra_subject" name="extra_subject" class="required">
    
        <option value="1">海洋</option>
        
        <option value="2">地球物理</option>
        
        <option value="3">地质</option>
        
        <option value="4">天文</option>
        
        <option value="5">地理</option>
        
        <option value="6">大气</option>
        
        <option value="7">测绘</option>
        
        <option value="8">生态</option>
        
        <option value="9">农业</option>
        
        <option value="10">环境</option>
        </select></div>
    <div class="pure-control-group">
    <label for="extra_degree"><span style="color:red">*</span>学位</label>
    <select id="extra_degree" name="extra_degree" class="required">
    
        <option value="1">学士</option>
        
        <option value="2">硕士</option>
        
        <option value="3">博士</option>
        </select></div>
    <div class="pure-control-group">
    <label for="extra_filetype"><span style="color:red">*</span>文件类型</label>
    <select id="extra_filetype" name="extra_filetype" class="required">
    
        <option value="1">文本</option>
        
        <option value="2">pdf</option>
        
        <option value="3">扫描</option>
        </select></div>
    <div class="pure-control-group">
    <label for='extra_size'><span style="color:red">*</span>文件大小</label>
    <input id='extra_size' name="extra_size" value="" type="text" style="width:350px" class="number"> Mb
    </div>
</div>
{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
