<div class="panel-body" style="line-height: 32px">
    <div class="row">
        <div class="col-sm-12">

            {% raw post_info['contributor'][0] %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            {% raw post_info['contact_who'][0] %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            关键词
        </div>
        <div class="col-sm-9">
            {% raw post_info['keywords'][0] %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            访问方式
        </div>
        <div class="col-sm-9">
            {% if post_info['access'][0]=='1' %} 公开 {% elif post_info['access'][0]=='2' %} 在线下载
            {% else %} 离线访问 {% end %}

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            数据引用方式及声明

            {% raw post_info['statement'][0] %}
        </div>
    </div>


    <div class="row">
        <div class="col-sm-3">
            信息来源
        </div>
        <div class="col-sm-9">
            {{ kwd['maskip'] }}
            <!--
            <span style="margin-left:10px; font-size:12px; color:green">吉林省长春市电信
            -->

        </div>
    </div>

    <div class="vtips">
        <span style="color:#FF6600;">小提示：联系我时请说明是在吉合营看到的，谢谢！</span>
    </div>
</div>