<div class="pbody" style="margin:10px auto;">


    <div class="pure-g" style="border-bottom: 1px #536a81 dashed;padding: 3px 1px 3px 1px;margin: 3px 1px 3px 1px;">
        <div class="pure-u-2-3 houtai_info">
            <div class="houtai_info_title">
                招聘职位：
                <a href="/view/{{ zhiwei_info['def_uid']}}" target="_blank">
                    {% raw (zhiwei_info['title'][0]) %}
                </a>
            </div>
            <div class="houtai_info_status">
                <div class="jianli">
                    <h2>已投简历</h2>
                    {% module ShowJianli(zhiwei_info['def_jianli']) %}
                </div>
            </div>
        </div>
        <div class="pure-u-1-3" style="text-align: right;">
        </div>
    </div>
</div>




