<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-Hans" lang="zh-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Cache-control" content="no-cache">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="长春吉合营，一看就知道,分类信息网,免费发布信息,免费信息发布,分类信息,生活信息"/>
    <meta name="description" content="吉合营,免费发布信息网,免费发布供求信息、租房、合租、二手房、招聘、交友、跳蚤市场、家政、培训等生活分类信息,致力成为最实用免费的分类信息服务网络平台."/>
    <title>吉合营分类信息网站</title>

    <link rel="stylesheet" href="{{ static_url('stylesheets/pure-min.css') }}">

    <link href="{{ static_url('tass/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{{ static_url('jslib/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jslib/validate/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jslib/validate/message_cn.js') }}"></script>

    {% block headinfo %}

    {% end %}


</head>

<body>

{% block bodyinfo %}

{% end %}


</body>

</html>