<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>沼泽湿地数据共享节点</title>

    <script type="text/javascript" src="{{ static_url('jslib/jquery-2.1.4.min.js') }}"></script>


    <link rel="stylesheet" href="{{ static_url('css/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ static_url('css/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css') }}">

    <script src="{{ static_url('css/bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>


    <link rel="stylesheet" type="text/css" href="{{ static_url('stylesheets/pure-min.css') }}">
    <!--  <link rel="stylesheet" type="text/css" href="{{ static_url('tass/css/style.css') }}"/>-->
    <style>
{##}
{#        /* line 909, ../sass/partial/_style.sass */#}
{#        .location .iga_bread_crumb {#}
{##}
{#            overflow: hidden;#}
{#            *zoom: 1;#}
{#            display: inline;#}
{##}
{#            font-size: 12px;#}
{#        }#}
{##}
{#        /* line 921, ../sass/partial/_style.sass */#}
{#        .location .iga_bread_crumb .active, .location .iga_bread_crumb .iga_pagination {#}
{#            color: black;#}
{#            font-weight: bold;#}
{#        }#}
    </style>



    <script type="text/javascript" src="{{ static_url('jslib/validate/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jslib/validate/message_cn.js') }}"></script>
    <script type="text/javascript">
        $().ready(function () {
            $("#searchForm").validate({
                rules: {
                    searchheader: "required"
                },
                messages: {
                    searchheader: "<span class='red'>请输入关键词</span>"

                }
            });
        });
    </script>


    <script type="text/javascript" src="{{ static_url('colorbox/jquery.colorbox.js') }}"></script>
    <link href="{{ static_url('colorbox/colorbox.css') }}" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">
        $().ready(function () {
           $("#searchForm").validate();
        });
    </script>
    {% block headinfo %}

    {% end %}

        {% block head %}

    {% end %}

</head>

<body>

<div class="panel panel-default">
        <div class="panel-heading">
            {% module Topline() %}
        </div>
    </div>

<div class="container">


    <div class="row">
        <div class="col-sm-3">
            <a href="/"><img src="{{ static_url('images/jhy_logo.png') }}"></a>
        </div>


        <div class="col-sm-6">
            <br>

            <form method="post" action="/search/" id="searchForm" target="_blank" class="form-horizontal" role="form">

                <div class="col-sm-9">
                    <input type="text" name="searchheader" id="searchheader" placeholder="请输入关键词" class="form-control"/>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary" id="btn-search">搜索</button>
                </div>

            </form>


        </div>

        <div class="col-sm-3">

            <br>

            <form method="post" action="/publish/" id="seasdfrchForm" class="form-horizontal" role="form">


                <button class="btn btn-primary" id="btn-publish">
                    免费发布信息
                </button>


            </form>


        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="/">首页</a></li>
                <li><a href="/list/0100">遥感</a></li>
                <li><a href="/list/0200">GIS</a></li>
                <li><a href="/list/0300">文档数据</a></li>
                <li><a href="/list/0400">多媒体</a></li>
                <li><a href="/list/0500">格式化数据</a></li>
                <li><a href="/post/recent">文档</a></li>

            </ul>
        </div>
    </div>
    <br>
    {% block typebody %}{% end %}
    <br>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-footer" style="text-align: center">


                &copy; 2015 中国科学院东北地理与农业生态研究所<br>
                吉ICP备14004848号

            </div>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-sm-12">
            {% block footinfo %}{% end %}
        </div>
    </div>
</div>
</body>
</html>
