{% extends "../../theme/bage.html" %}

{% block head%}


<title>云算笔记 云计算 在线计算 科学计算 工程计算</title>
<meta name="baidu-site-verification" content="a69zyHriZP"/>
<meta name="description"
      content="由科学家与工程师维护的，专注在线计算、云计算应用的网站，提供科学计算与工程计算应用,包括环境影响评价计算,地理学计算,数学计算,物理计算,化学计算">
<meta name="keywords"
      content="计算,在线计算器,云计算,在线计算,常用数据,常规数据,科学计算,工程计算,环评计算,地理计算,数学计算,物理计算,化学计算,数学公式,物理公式,建筑计算">


{% end %}


{% block zhuti %}
<div class="header">

</div>


<div class="content find_equation">

    <h3>{{ kwd['title'] }}</h3>

    <ul>


        {% module post_recent(8) %}

    </ul>


</div>


<div class="content find_equation">

    <h3>随机文档</h3>

    <ul>
        {% module post_random(8) %}
    </ul>
</div>
{% end %}