{% extends "../../theme/bage.html" %}

{% block head %}
<title>{{ view.title }}</title>
<meta name="description" content="{% module generate_description(view.cnt_html) %}">
<meta name="keywords" content="{{ view.keywords }}">

{% end %}

{% block zhuti %}
<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-info">
            <div class="panel-heading">

                <h1 class="title">{{ view.title }}</h1>

                <p class="info">
                    {{ str(view.date).split('.')[0] }}
                    <span class="split">|</span>
                    发布者: <a href="http://yunsuan.org">云算笔记</a>
                    <span class="split">|</span>
                    查看:
                    <em id="_viewnum">{{ view.view_count }}</em>

                    {% if userinfo is not None and userinfo.privilege[2] == '1' %}
                    <span class="split">|</span>
                    <a href="/post/modify/{{ view.uid }}" class="btn btn-primary btn-sm" role="button">修改</a>
                    {% end %}

                    <!--{% if userinfo is not None and userinfo.privilege[4] == '1' %}-->
                    <!--<a href="/post/edit_catalog/{{ view.uid }}">修改分类</a>-->
                    <!--{% end %}-->
                </p>

                <p><span class="equation_catalog">{% module post_catalogs(view.uid ) %}</span></p>
                <br>

            </div>


            <div class="panel-body">


                <div id="wiki_cnt">
                    {% raw unescape(view.cnt_html) %}
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <span>{{ _('tag') }}:</span>
                <span class="post_cat">
                    {% set iii = 1 %}
                    {% for x in tag_info %}
                    <a href="/label/{{ x.tag.uid }}" class="app_label tag{{ iii }}">{{ x.tag.name }}</a>
                    {% set iii = iii + 1 %}
                    {% end %}
                </span>
                    </div>
                    <div class="col-md-6"></div>
                </div>


            </div>
            <div class="panel-footer">
                <ul class="pager">
                    <li class="previous">{% module previous_post_link(view.uid) %}</li>
                    <li class="next">{% module next_post_link(view.uid) %}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">


        <div class="panel panel-info">
            <div class="panel-heading">
                相关文档
            </div>
            <ul class="list-group">
                {% for s in relations %}
                <li class="list-group-item">
                    <a href="/post/{{ s.app_t.uid }}.html">
                        {{ s.app_t.title }}
                    </a>
                </li>
                {% end %}
            </ul>

        </div>

    </div>
</div>
{% end %}

