<div class="iga_hover">
    <div class="pure-g">
        <div class="pure-u-1-4">

            <div class="left">
                <a href="/view/{{ post_info['def_uid'] }}" >
                    <img src="{{ static_url(widget_info['imgname'] ) }}" align="absmiddle"
                         style="width: 150px;height:100px;overflow: hidden;"/></a>
            </div>
        </div>
        <div class="pure-u-1-2">
            <div class="mid">
                <div class="listinfo_title">
                    <a href="/info/{{ post_info['def_uid'] }}">
                        {{ post_info['title'][0] }}{% raw widget_info['zhiding'] %}{% raw widget_info['tuiguang'] %}
                    </a>
                </div>

                <div class="listinfo_content">
                    <a href="/info/{{ post_info['def_uid'] }}" >
                        <nobr> {% raw post_info['content'][0] %}</nobr>
                    </a>
                </div>
                <div class="listinfo_time">
                    发布时间: {{ post_info['def_update_time_str'] }}
                </div>
                <div class="listinfo_extra">
                    <span> <span class="iga_pd_val">     {% if post_info["extra_zucheleibie"][0] == "1" %} 大巴租车 {% end %}  {% if post_info["extra_zucheleibie"][0] == "2" %} 面包车租车 {% end %}  {% if post_info["extra_zucheleibie"][0] == "3" %} 商务车租车 {% end %}  {% if post_info["extra_zucheleibie"][0] == "4" %} 轿车租车 {% end %}  {% if post_info["extra_zucheleibie"][0] == "5" %} 货车租车 {% end %} </span><span class="iga_pd_val">     {% if post_info["extra_zumaicheleixing"][0] == "1" %} 租车 {% end %}  {% if post_info["extra_zumaicheleixing"][0] == "2" %} 卖车 {% end %}  {% if post_info["extra_zumaicheleixing"][0] == "3" %} 全部 {% end %} </span></span>
                </div>
            </div>


        </div>
        <div class="pure-u-1-4">
            <div class="right">
                {% raw widget_info['html_right_top'] %} <br/>
            </div>
            <div class="right">
                {% raw widget_info['html_right_bottom'] %} <br/>
            </div>
        </div>
    </div>
</div>