<li class="list-group-item" style="line-height: 25px">
    <div class="row">
        <div class="col-sm-3">


            <a href="/view/{{ post_info['def_uid'] }}">
                <img src="{{ post_info['mymps_img'][0] }}"
                     style="width: 150px;height:100px;overflow: hidden;"/></a>

        </div>
        <div class="col-sm-6">

            <div class="listinfo_title">
                <a href="/info/{{ post_info['def_uid'] }}">
                    {{ post_info['title'][0] }}{% raw widget_info['zhiding'] %}{% raw widget_info['tuiguang'] %}
                </a>
            </div>

            <div class="listinfo_content">
                <a href="/info/{{ post_info['def_uid'] }}">
                    <nobr> {% raw post_info['content'][0] %}</nobr>
                </a>
            </div>
            <div class="listinfo_time">
                发布时间: {{ post_info['def_update_time_str'] }}
            </div>
            <div class="listinfo_extra">
                <span> </span>
            </div>


        </div>
        <div class="col-sm-3">
            <div class="right">
                {% raw widget_info['html_right_top'] %} <br/>
            </div>
            <div class="right">
                {% raw widget_info['html_right_bottom'] %} <br/>
            </div>
        </div>
    </div>
</li>
