{% extends "../tpl_list.html" %}
{% block header %}
 {{ header_text }}
{% end %}
{% block infoselect %}
<div class="infoselect">
                
    <div class="row" style="line-height:30px;">

    <div class="col-sm-2">学科</div>
    <div class="col-sm-10"> <span class="label label-primary"  name='subject' onclick='change(this);'  value=''>全部</span>
    <span  class="label label-default"  name='subject' onclick='change(this);' value='1'>海洋</span>
    <span  class="label label-default"  name='subject' onclick='change(this);' value='2'>地球物理</span>
    <span  class="label label-default"  name='subject' onclick='change(this);' value='3'>地质</span>
    <span  class="label label-default"  name='subject' onclick='change(this);' value='4'>天文</span>
    <span  class="label label-default"  name='subject' onclick='change(this);' value='5'>地理</span>
    <span  class="label label-default"  name='subject' onclick='change(this);' value='6'>大气</span>
    <span  class="label label-default"  name='subject' onclick='change(this);' value='7'>测绘</span>
    <span  class="label label-default"  name='subject' onclick='change(this);' value='8'>生态</span>
    <span  class="label label-default"  name='subject' onclick='change(this);' value='9'>农业</span>
    <span  class="label label-default"  name='subject' onclick='change(this);' value='10'>环境</span>
    </div></div>
</div>
{% end %}

{% block infonav %}
<br>
<div class="row">
    <div class="col-sm-7">
    <span class="catname">{{ widget_info['catname'] }}</span>
        <span class="totalnum">分类下共有信息<span class="red">{{ widget_info['rec_num'] }}</span>条。</span>
    <span class="incollect">亲，信息置顶可使信息效果更好哟</span>
        </div>
    <div class="col-sm-5">
    <span><a href="" class="btn btn-primary" role="button">置顶信息</a></span>
    <span><a href="" class="btn btn-primary" role="button">循环推广</a></span>
    <span><a href="/publish/{{ widget_info['parentid'] }}"  class="btn btn-primary" role="button">免费发布</a></span>
    </div>
</div>
{% end %}

{% block infolist %}
<div class="list_house">
    <ul class="list-group">
    <span id="resultSpan">

    </span>
    </ul>
</div>
{% end %}

{% block footer %}
<p>{{ footer_text }}</p>
{% end %}