{% extends "../tpl_list.html" %}
{% block header %}
 {{ header_text }}
{% end %}
{% block infoselect %}
<div class="infoselect">
                
    <div class="row" style="line-height:30px;">

    <div class="col-sm-2">范围</div>
    <div class="col-sm-10"> <span  class="label label-primary"  name='spatial' onclick='change(this);'  value=''>全部</span>
    <span  class="label label-default"  name='spatial' onclick='change(this);'  value='1'>区域级</span>
    <span  class="label label-default"  name='spatial' onclick='change(this);'  value='2'>国家级</span>
    <span  class="label label-default"  name='spatial' onclick='change(this);'  value='3'>全球区域</span>
    </div></div>
    <div class="row" style="line-height:30px;">

    <div class="col-sm-2">文件大小</div>
    <div class="col-sm-10"> <span  class="label label-primary"  name='size' onclick='change(this);'  value=''>全部</span>
    <span  class="label label-default"  name='size' onclick='change(this);'  value='1'>Mb</span>
    </div></div>
</div>
{% end %}

{% block infonav %}
<br>
<div class="row">
    <div class="col-sm-7">
    <span class="catname">{{ widget_info['catname'] }}</span>
        <span class="totalnum">分类下共有信息<span class="red">{{ widget_info['rec_num'] }}</span>条。</span>
    <span class="incollect">亲，信息置顶可使信息效果更好哟</span>
        </div>
    <div class="col-sm-5">
    <span><a href="" class="btn btn-primary" role="button">置顶信息</a></span>
    <span><a href="" class="btn btn-primary" role="button">循环推广</a></span>
    <span><a href="/publish/{{ widget_info['parentid'] }}"  class="btn btn-primary" role="button">免费发布</a></span>
    </div>
</div>
{% end %}

{% block infolist %}
<div class="list_house">
    <ul class="list-group">
    <span id="resultSpan">

    </span>
    </ul>
</div>
{% end %}

{% block footer %}
<p>{{ footer_text }}</p>
{% end %}