{% extends "../tpl_list.html" %}
{% block header %}
 {{ header_text }}
{% end %}
{% block infoselect %}
<div class="infoselect">
                
    <div class="pure-g pages_sort">
    <div class="pure-u-1-8"><div class="sortname">学科</div></div>
    <div class="pure-u-5-6"><div class='sortvalue'><span class='unchecked' name='subject' onclick='change(this);' value=''>全部</span>
    <span class='unchecked' name='subject' onclick='change(this);' value='1'>海洋</span>
    <span class='unchecked' name='subject' onclick='change(this);' value='2'>地球物理</span>
    <span class='unchecked' name='subject' onclick='change(this);' value='3'>地质</span>
    <span class='unchecked' name='subject' onclick='change(this);' value='4'>天文</span>
    <span class='unchecked' name='subject' onclick='change(this);' value='5'>地理</span>
    <span class='unchecked' name='subject' onclick='change(this);' value='6'>大气</span>
    <span class='unchecked' name='subject' onclick='change(this);' value='7'>测绘</span>
    <span class='unchecked' name='subject' onclick='change(this);' value='8'>生态</span>
    <span class='unchecked' name='subject' onclick='change(this);' value='9'>农业</span>
    <span class='unchecked' name='subject' onclick='change(this);' value='10'>环境</span>
    </div></div></div>
    <div class="pure-g pages_sort">
    <div class="pure-u-1-8"><div class="sortname">分辨率</div></div>
    <div class="pure-u-5-6"><div class='sortvalue'><span class='unchecked' name='resolution' onclick='change(this);' value=''>全部</span>
    <span class='unchecked' name='resolution' onclick='change(this);' value='1'>低分辨率</span>
    <span class='unchecked' name='resolution' onclick='change(this);' value='2'>中分辨率</span>
    <span class='unchecked' name='resolution' onclick='change(this);' value='3'>高分辨率</span>
    </div></div></div>
    <div class="pure-g pages_sort">
    <div class="pure-u-1-8"><div class="sortname">范围</div></div>
    <div class="pure-u-5-6"><div class='sortvalue'><span class='unchecked' name='spatial' onclick='change(this);' value=''>全部</span>
    <span class='unchecked' name='spatial' onclick='change(this);' value='1'>区域级</span>
    <span class='unchecked' name='spatial' onclick='change(this);' value='2'>国家级</span>
    <span class='unchecked' name='spatial' onclick='change(this);' value='3'>全球区域</span>
    </div></div></div>
    <div class="pure-g pages_sort">
    <div class="pure-u-1-8"><div class="sortname">矢量类型</div></div>
    <div class="pure-u-5-6"><div class='sortvalue'><span class='unchecked' name='vectype' onclick='change(this);' value=''>全部</span>
    <span class='unchecked' name='vectype' onclick='change(this);' value='1'>点</span>
    <span class='unchecked' name='vectype' onclick='change(this);' value='2'>线</span>
    <span class='unchecked' name='vectype' onclick='change(this);' value='3'>面</span>
    <span class='unchecked' name='vectype' onclick='change(this);' value='4'>混合</span>
    </div></div></div>
    <div class="pure-g pages_sort">
    <div class="pure-u-1-8"><div class="sortname">文件大小</div></div>
    <div class="pure-u-5-6"><div class='sortvalue'><span class='unchecked' name='size' onclick='change(this);' value=''>全部</span>
    <span class='unchecked' name='size' onclick='change(this);' value='1'>Mb</span>
    </div></div></div>
</div>
{% end %}
{% block infonav %}
<div class="row">
    <div class="col-sm-7">
    <span class="catname">{{ widget_info['catname'] }}</span>
        <span class="totalnum">分类下共有信息<span class="red">{{ widget_info['rec_num'] }}</span>条。</span>
    <span class="incollect">亲，信息置顶可使信息效果更好哟</span>
        </div>
    <div class="col-sm-5">
    <span><a href="" class="btn btn-primary" role="button">置顶信息</a></span>
    <span><a href="" class="btn btn-primary" role="button">循环推广</a></span>
    <span><a href="/publish/{{ widget_info['parentid'] }}"  class="btn btn-primary" role="button">免费发布</a></span>
    </div>
</div>
{% end %}

{% block infolist %}
<div class="list_house">
    <ul>
    <span id="resultSpan">

    </span>
    </ul>
</div>
{% end %}
{% block footer %}
<p>{{ footer_text }}</p>
{% end %}