{% extends "../tmp_ganji_basic.html" %}


        {% block headinfo %}


{% end %}



{% block topmenu %}

{% raw topmenu %}

{% end %}


{% block header %}

<h1>{{ header_text }}</h1>

{% end %}


{% block typebody %}


<div class="clearfix"></div>
<!--头部通栏广告开始-->
<div id="ad_header"></div>
<!--头部通栏广告结束-->
<div class="clear"></div>


<div class="clear"></div>
<div class="simplecategory">
    <div class="btline">

        <div class="pure-g">
            <div class="pure-u-1-5">
                {% raw kwd['s1'] %}
                {% raw kwd['s2'] %}
            </div>
            <div class="pure-u-1-5">
                {% raw kwd['s3'] %}
                {% raw kwd['s4'] %}
            </div>
            <div class="pure-u-1-5">
                {% raw kwd['s5'] %}
                {% raw kwd['s6'] %}
            </div>
            <div class="pure-u-1-5">
                {% raw kwd['s7'] %}
                {% raw kwd['s8'] %}
            </div>
            <div class="pure-u-1-5">
                {% raw kwd['s9'] %}
                {% raw kwd['s10'] %}
            </div>
        </div>

    </div>
</div>


<!-- 常用服务导航start  -->
<div class="cyfwmenu pure-g">
    <div class="pure-u-1-5 block">
        <div class="dh_block">
            <h2>交通出行</h2>
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div>
                        <a target="_blank"
                            href="http://map.baidu.com/?newmap=1&ie=utf-8&daddr=%20&fr=alab0&s=s%26c%3D53%0D%0A%26wd%3D%E9%95%BF%E6%98%A5">公交查询</a>
                    </div>
                    <div><a target="_blank" href="http://map.baidu.com/">在线地图</a></div>
                    <div><a target="_blank" href="http://www.huoche.com.cn">列车时刻</a></div>
                </div>
                <div class="pure-u-1-2">


                    <div><a target="_blank" href="http://www.jipiao.com.cn">特价机票</a></div>
                    <div><a target="_blank" href="http://www.jljj.cn/">交通违章</a></div>
                    <div><a target="_blank" href="http://www.trip8080.com/">长途汽车</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-5 block">
        <div class="dh_block">
            <h2>生活助手</h2>

            <div class="pure-g">
                <div class="pure-u-1-2">


                    <div><a target="_blank" href="http://live.hao123.com/">电视直播</a></div>
                    <div><a target="_blank" href="http://www.douguo.com/caipu">美食菜谱</a></div>
                    <div><a target="_blank" href="http://www.guahao.com/">医院挂号</a></div>
                </div>
                <div class="pure-u-1-2">
            

                    <div><a target="_blank" href="http://waimai.taobao.com/shop_list.htm">外卖订餐</a></div>
                    <div><a target="_blank" href="http://care.39.net/">健康养生</a></div>
                    <div><a target="_blank" href="http://kaoshi.jxedt.com/">驾校一点通</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-5 block">
        <div class="dh_block">
            <h2>便民服务</h2>

            <div class="pure-g">
                <div class="pure-u-1-2">


                    <div><a target="_blank" href="http://app.baidu.com/app/enter?appid=101074">快递查询</a></div>
                    <div><a target="_blank"
                            href="https://jiaofei.alipay.com/tongxun.htm?%3f_ad=c&amp;_adType=lifejf_sjcz_alipaysytop">手机充值</a>
                    </div>
                    <div><a target="_blank" href="http://www.cncn.com/paihang/">旅游景点</a></div>
                </div>
                <div class="pure-u-1-2">
              

                    <div><a target="_blank" href="http://wenku.baidu.com/portal/browse/exam/gwy_guojia">公务员考试</a></div>
                    <div><a target="_blank" href="http://www.dayima.com/products/index">女性安全期</a></div>
                    <div><a target="_blank" href="https://jiaofei.alipay.com/jiaofei.htm">水电煤缴费</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-5 block">
        <div class="dh_block">
            <h2>金融理财</h2>

            <div class="pure-g">
                <div class="pure-u-1-2">


                    <div><a target="_blank"
                            href="http://baidu.lecai.com/lottery/draw/view/50?phase=2014026&agentId=5555">双色球</a>
                    </div>
                    <div><a target="_blank" href="http://quote.eastmoney.com/zs000001.html">股票行情</a></div>
                    <div><a target="_blank" href="http://gold.hexun.com/hjxh/">黄金价格</a></div>
                </div>
                <div class="pure-u-1-2">
       

                    <div><a target="_blank" href="http://app.baidu.com/app/enter?appid=115844">房贷计算器</a></div>
                    <div><a target="_blank" href="http://www.hao123.com/baoxian">社保查询</a></div>
                    <div><a target="_blank" href="http://www.hao123.com/haoserver/gjjcx.htm">住房公积金</a></div>
                </div>
            </div>
        </div>

    </div>
    <div class="pure-u-1-5">

        <div class="dh_block">
            <h2>工具大全</h2>

            <div class="pure-g">
                <div class="pure-u-1-2">


                    <div><a target="_blank" href="http://app.baidu.com/app/enter?appid=114629">万年历</a></div>
                    <div><a target="_blank" href="http://www.xingming.net">八字算命</a></div>
                    <div><a target="_blank" href="http://app.baidu.com/app/enter?appid=278234">黄道吉日</a></div>
                </div>
                <div class="pure-u-1-2">
 

                    <div><a target="_blank" href="http://www.51jiemeng.com">周公解梦</a></div>
                    <div><a target="_blank" href="http://astro.sina.com.cn/luck/">星座运势</a></div>
                    <div><a target="_blank" href="http://lengxiaohua.com/">爱讲冷笑话</a></div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- 常用服务导航end  -->


<div class="cyfwmenu pure-g">

    <div class="pure-u-1-3">
        <img src="{{ static_url('fixed/youheiqiang.jpg') }}" height="100"  style="float: right;padding-right: 80px;"/>
    </div>

    <div class="pure-u-2-3">
        <marquee direction="up" height="72" onMouseOver="this.stop()" onMouseOut="this.start()">
            {% for coupon_info in coupon_infos %}

            <div class="coupon">
                <a href="/coupon/grap/{{ coupon_info['uid'] }}" target="_blank">

                    {{ coupon_info['title'] }}
                    {{ coupon_info['address'] }}
                   {{ coupon_info['company'] }}
                </a>
            </div>

            {% end %}
        </marquee>
    </div>


</div>
<div class="clear"></div>
<!-- 页尾通栏广告开始-->
<div id="ad_footerbanner"></div>

<!-- 页尾通栏广告结束-->

<!--广告处理部分开始-->

<div style="display: none" id="ad_none">
    <!--头部通栏广告-->

    <!--首页分类间广告-->
    <div class="indexcatad" id="ad_indexcatad_229_none"><a href="#" target="_blank"><FONT size="1">[AD]</FONT></a></div>
    <div class="indexcatad" id="ad_indexcatad_154_none"><a href="#" target="_blank"><FONT size="1">[AD]</FONT></a></div>
    <div class="indexcatad" id="ad_indexcatad_157_none"><a href="#" target="_blank"><FONT size="1">[AD]</FONT></a></div>
    <!--栏目信息列表间广告-->


    <!--栏目侧边广告-->

    <div class="topbanner" id="ad_topbanner_none">
    </div>
    <!--
    -->
</div>


<div class="clear"></div>

<!--
<div id="foot">


<div class="newinfo">

<ul>

    <span style="font-size:14px">&nbsp;&nbsp;赞助商</span>
    <span style="font-size:14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;礼包</span>
    <span style="font-size:14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注</span>&nbsp;


</ul>

<div class="hd"></div>
<div class="bd">
    <div id="indextop">


        <div id="indextop1">


            <ul>


                <div class="li"><span class="tt">长春发展有限公司</span><span class="tt">礼包一个</span>
                </div>
                <div class="li"><span class="tt">长春发展有限公司</span><span class="tm">礼包一个</span>
                </div>
                <div class="li"><span class="tt">长春发展科技公司</span><span class="tm">礼包一个</span>
                </div>

            </ul>

        </div>


    </div>


    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.jiheying.com/login.php?part=register&action=shop&cityid=2"><img
                src="http://www.jiheying.com/images/09.png"><img
                src="http://www.jiheying.com/images/0901.jpg" class="imgPlace"></a></div>
</div>

</div>
</div>
-->

<!--<div class="col4">
    <div class="todaynews">
        <ul>

                 <h1><a href="" target="_blank" >好礼天天送，天天送不停，快快加入吧，礼品等着你！</a></h1>
                 <p>活动内容：凡是注册会员成功，都有机会获赠吉合营网送出的精美礼品，注册信息必须真实，我们会根据信息的真实性来确定的哟!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;吉合营温馨提示:注意钓鱼网站，吉合营官方网站：www.jiheying.com &nbsp;如果你有任何问题或疑问请致电我们的客服电话:<font color="#FF0000"><B>400-6043-112</B></font></p>



                                                </ul>
    </div>
</div>

<div class="col5">
    <div class="top10">
    <h1 class="top_tips"><font color="#FF0000"><B>通化吉合营</B></font></h1>
    <div class="ycwp-right fl">
            <div class="needs">

                    <ul class="fl phone">
                        <li class="lh36">全国统一服务热线：400-6043-112</li></BR>
        <li><B>我们的服务时间:早9:00-晚17:00</B></li>

                    </ul>
                </div>
            </div>
    <p><a href="http://www.jiheying.com/login.php?part=register&action=shop&cityid=3" target="_blank"><B></BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通化点击开抢>>&nbsp;&nbsp;&nbsp;</BR></B></a></p>			</div>
</div>
</div>-->


<!--
<div class="pure-menu pure-menu-open pure-menu-horizontal">
<ul>
<li>
    <a href="http://www.jiheying.com//about.php?part=aboutus" target="_blank">关于我们</a></li>
<li><a href="http://www.jiheying.com//about.php?part=faq" target="_blank">帮助中心</a></li>
<li>
    <a href="http://www.jiheying.com/about.php?part=aboutus&id=2" target="_blank">加入我们</a></li>
<li><a href="http://www.jiheying.com/about.php?part=announce#11" target="_blank">网站公告</a></li>
<li><a href="http://www.jiheying.com/about.php?part=aboutus&id=4" target="_blank">招纳贤士</a></li>
<li><a href="http://www.jiheying.com/city/th//about.php?part=friendlink" target="_blank">友情链接</a></li>
<li><a href="http://www.jiheying.com/city/th//about.php?part=sitemap" target="_blank">网站导航</a></li>
<li><a href="http://www.jiheying.com/about.php?part=aboutus&id=3">服务协议</a></li>

</ul>
</div>
-->
{% end %}

{% block footer %}
<p>{{ footer_text }}</p>
{% end %}
